<div class="display-search">
    <h2 class="title">Pesquisa de Usuários</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="">
        <h3>Gênero:</h3>
        <div>
            <label for="gender">
            <div id="gender" class="row">
                <div *ngFor="let item of genderList">
                <label for="{{item.valor}}" class="">
                    <input [value]="item.valor" type="radio" id="{{item.valor}}" name="gender" ngModel required>
                    {{item.nome}}
                </label>
                </div>
            </div>
            </label>
        </div>
        <span class="text-error" *ngIf="error">Por favor, selecione uma opção.</span>
        </div>
        <div class="">
        <h3>Nacionalidade:</h3>
        <div *ngFor="let item of countryList">
            <input type="checkbox" id="{{item.valor}}" name={{item.valor}} ngModel>
            <label for="{{item.valor}}">{{item.nome}}</label>
        </div>
        </div>
        <div class="">
        <button type="submit" class="search-input--btn" [routerLink]="['/search']">Pesquisar</button>
        </div>
    </form>
    </div>
    <div class="user-card">
        <div class="" role="status" *ngIf="loading">
            <span class="hidden">Carregando...</span>
        </div>

        <div *ngIf="erroApi">
            <h2>Error</h2>
        </div>

        <div *ngFor="let item of listUsers">
            <div class="user-card--image">
            <img src="{{item.picture.large}}" alt="Foto do usuário">
            </div>
            <div class="user-card--info">
            <p class="user-card--info--text">{{ item.name.first }}</p>
            <p class="user-card--info--text">{{ item.name.last }}</p>
            <p>{{item.gender}}</p>
            <p class="user-card--info--text">{{ item.location.country }}</p>
            <p class="user-card--info--email">{{ item.email }}</p>
            </div>
        </div>
    </div>

    <div class="">
        <button type="click" (click)="onClick('&event')" class="">Salvar Pesquisa</button>
        <h3 class="" name="saveSearchResult" *ngIf='saveSearchResult'>Pesquisa salva</h3>
    </div>
    
    
    <!-- <div class="">
    <div>
        <div class="">
        <div class="">
            <div class="">
            <div class="card-test">
                <app-card></app-card>
                <div class="search-input display-content">
                <button class="search-input--btn">Salvar Pesquisa</button>
                <input type="button" value="Voltar" class="search-input--btn" [routerLink]="['']">
                </div>
                <ng-template #loadingBlock>
                <div>
                    <div role="status">
                    <div>
                        <p>Carregando....</p>
                    </div>
                    </div>
                </div>
                </ng-template>
            </div>
            </div>
        </div>
        </div>
    </div>
</div> -->