<div class="display-search">
    <h2 class="title">Pesquisa de Usuários</h2>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div class="gender__box">
            <h3>Gênero:</h3>
            <div>
                <label for="gender">
                    <div id="gender" class="row">
                        <div *ngFor="let item of listGender">
                            <label for="{{item.valor}}" class="radio-inline">
                                <input [value]="item.valor" type="radio" id="{{item.valor}}"
                                    name="gender" ngModel required>
                                {{item.nome}}
                            </label>
            </div>
        </div>
        </label>

</div>

<span class="text-error" *ngIf="error">Por favor, selecione uma opção.</span>

</div>

<div class="country__box">
    <h3>Nacionalidade:</h3>
    <div *ngFor="let item of listCountry">
        <input type="checkbox" id="{{item.valor}}" name={{item.valor}} ngModel>
        <label for="{{item.valor}}">{{item.nome}}</label>
    </div>

</div>
<div class="search-input">
    <button type="submit" class="btn button__dados">Pesquisar</button>
</div>
</form>

</div>