<div class="display-view">
    <div>
        <div class="">
            <div class="">
                <div class="">
                    <div class="card-test">
                        <app-card></app-card>

                        <div class="search-input display-content">
                            <button class="search-input--btn">Salvar Pesquisa</button>
                            <input type="button" value="Voltar" class="search-input--btn" [routerLink]="['/search']">
                        </div>

                        <ng-template #loadingBlock>
                            <div>
                                <div role="status">
                                    <div>
                                        <p>Carregando....</p>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>